extends layout

block content
    h1= title
    p(style={color: '#3c78d8'}) Welcome to #{title}

    #main_configuration_container(class='main_container')
        form(action='/save',method='post')
            p SDL file name
            input(name='sdlFilePath', value='#{config.sdlFilePath}')

            p heartBeat timeout
            input(name='hearBeatTimeout', value='#{config.hearBeatTimeout}')

            p testRecord folder
            input(name='testRecordPath', type='text', value='#{config.testRecordPath}')

            p Mobile connection string
            input(name='mobileConnectionStr', value='#{config.mobileConnectionStr}')

            p HMI connection string
            input(name='hmiConnectionStr', value='#{config.hmiConnectionStr}')

            p PerfLog connection string
            input(name='perfLogConnectionStr', value='#{config.perfLogConnectionStr}')

            p Time for launch SDLProc
            input(name='launchTime', value='#{config.launchTime}')

            p Client PerfLog connection string
            input(name='client_PerfLog_connection_str', value='#{config.client_PerfLog_connection_str}')

            p terminal CMD
            input(name='terminalName', value='#{config.terminalName}')

            p SDLStoragePath
            input(name="sdlStoragePath", value='#{config.sdlStoragePath}')

            p
            input(type='submit')
            input(type='reset')

    a(class='button', href='http://localhost:3000') Back
