extends layout

block content
    h1= title
    p(style={color: '#3c78d8'}) Welcome to #{title}

    #main_container(class='main_container')
        form(action='/save',method='post')
            if (config)
                p SDL file name
                input(name='file_path', value='#{config.file_path}')

                p heartBeat timeout
                input(name='hb_timeout', value='#{config.hb_timeout}')

                p testRecord folder
                input(name='testRecord_path', type='text', value='#{config.testRecord_path}')

                p Mobile connection string
                input(name='MOB_connection_str', value='#{config.MOB_connection_str}')

                p HMI connection string
                input(name='HMI_connection_str', value='#{config.HMI_connection_str}')

                p PerfLog connection string
                input(name='PerfLog_connection_str', value='#{config.PerfLog_connection_str}')

                p Time for launch SDLProc
                input(name='launch_time', value='#{config.launch_time}')

                p terminal CMD
                input(name='terminal_name', value='#{config.terminal_name}')
            else
                p SDL file name
                input(name='file_path')

                p heartBeat timeout
                input(name='hb_timeout')

                p testRecord folder
                input(name='testRecord_path')

                p Mobile connection string
                input(name='MOB_connection_str')

                p HMI connection string
                input(name='HMI_connection_str')

                p PerfLog connection string
                input(name='PerfLog_connection_str')

                p Time for launch SDLProc
                input(name='launch_time')

                p terminal CMD
                input(name='terminal_name')
            p
            input(type='submit')
            input(type='reset')

    a(class='button', href='http://localhost:3000') Back