extends layout

block content

    //script(type='text/javascript'). //Apparently Jade requires a dot after the first closing parenthesis.
    //    var local_data = !{JSON.stringify(suiteList)}

    h1= title
    p Welcome to #{title}

    #test_suite_configuration_container(class='main_container')
        p Upload test cases
        form(action="/upload", method="post", enctype="multipart/form-data")
            input(type="file", name="file_upload", multiple)
            input(type='submit', name="upload", value="upload")


        #test_suite_list_area(class='container')
            p Test suite list
            select(id='test_suite_list', class='test_suite_list')

            #update_list(class='button update_list') Update

            textarea(id='description', class='description', rows=7, cols=1, readonly='readonly')

            #test_suite_add(class="button") Add test suite

        div(id='run_test_suits' class='container')
            label(class='label') Select test suits to run
            div(id='list_of_suits', class="container")

            div(class="button_container")
                #start_atf(type="button", class="button") Start ATF
                #stop_atf(type="button", class="button", disabled="disabled") Stop ATF

            label(class='label') ATF Log
            textarea(id='log', class='description', rows=7, cols=1, readonly='readonly')

    a(class='button', href='http://localhost:3000') Back

    #footer
        div(class='footer-box') SDL file name:
            p(class='footer_param') #{config.file_path}
        div(class='footer-box') heartBeat timeout:
            p(class='footer_param') #{config.hb_timeout}
        div(class='footer-box') testRecord folder:
            p(class='footer_param') #{config.testRecord_path}
        div(class='footer-box') Mobile connection string:
            p(class='footer_param') #{config.MOB_connection_str}
        div(class='footer-box') HMI connection string:
            p(class='footer_param') #{config.HMI_connection_str}
        div(class='footer-box') PerfLog connection string:
            p(class='footer_param') #{config.PerfLog_connection_str}
        div(class='footer-box') Time for launch SDLProc:
            p(class='footer_param') #{config.launch_time}
        div(class='footer-box') terminal CMD:
            p(class='footer_param') #{config.terminal_name}

    include modals/add_test_suit
    script(src="/javascripts/test_suite.js")
